language: c++

# Use docker for testing because the
# travis-ci environment is so outdated.
sudo: required
services:
    - docker

script:
    - docker build -t liberty_tool .
    - docker run liberty_tool